<!DOCTYPE html>
<html
  class="light"
  lang="en"
  th:fragment="parent(content,title,script)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-th-replace="${title}">SCM</title>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css" integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    

    
  </head>
  <body class="dark:bg-gray-900 bg-gray-100 dark:text-white">
    <!-- commona header -->

      <div data-th-replace="~{navbar :: navbar}"></div>

    

    <!-- main content -->
    <div class="">
      <section data-th-replace="${content}"></section>
    </div>
    <!-- flow bite content -->





    
    <!-- common footer -->
    <footer class="p-4">
        <div class="text-center text-gray-500 dark:text-gray-400">
            © 2024 <a href="#" class="hover:underline">GC Cloud™</a>. All Rights Reserved.
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
    <th:block data-th-replace="${script}"></th:block>
  </body>
</html>