<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::style})}">

<head>
    <title>Home</title>

    <!-- Style Fragment -->
    <th:block th:fragment="style">
        <link rel="stylesheet" th:href="@{/css/home.css}">
    </th:block>
</head>

<body>

<!-- ✅ ONLY THIS WILL BE SENT -->
<section id="content">
    <h1>Welcome to Home</h1>
    <h2>Get in touch with GC Cloud</h2>
    <p>
        GC Cloud is always ready to assist you with your queries.
    </p>
</section>

</body>
</html>
